@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


/**** general ****/

html, body {
	color: #333;
}

* {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	background-repeat: no-repeat;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
.wrap .wrap_inner{
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}
.sp_only, #sp_ft, #sp_hed {
	display: none;
}
.text-red {
	color: #e51728 !important;
}
.text-bold {
	font-weight: 700;
}
.clearListf {
	clear: both;
}
.mb40 {
    margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
	img {
		max-width: 100%
	}
	.wrap .wrap_inner{
		width: 100%;
		padding: 0 12px;
		box-sizing: border-box;
	}
	.sp_only, #sp_ft, #sp_hed {
		display: block;
	}
	.pc_only, #pc_ft, #pc_hed {
		display: none;
	}
	#sp_hed iframe {
		z-index: 1001;
	}
	.header img {
		border: none;
		vertical-align: top;
		width: 100%;
	}
	.mb40 {
		margin-bottom: 20px;
	}
}

/**** back to top ****/
#back_to_top a {
	display: none;
	position: fixed;
	right: 40px;
	bottom: 40px;
	width: 80px;
	height: 80px;
	background: #333 url('../image/icon_arrowUp_white01.png') no-repeat center center;
	border-radius: 7px;
}

@media screen and (max-width: 768px) {
	#back_to_top a {
		right: 20px;
		bottom: 20px;
		width: 35px;
		height: 35px;
	}
	#back_to_top a:after {
		top: 7px;
		left: 14px;
		padding: 3px;
	}
}

/**** mainvisual ****/
.mainvisual {
	margin: 0 0 78px;
	padding: 40px 0 0;
	background: url(../image/bg_mainvisual.gif) repeat-x;
}
.mainvisual h1 {
	text-align: center;
}
.mainvisual h1 img {
	width: 100%;
	border-radius: 18px;
	box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}
@media screen and (max-width: 1000px) {
	.mainvisual h1 {
		padding: 20px;
	}
}
@media screen and (max-width: 768px) {
	.mainvisual {
		margin: 80px 0 40px;
		padding: 16px 0 0;
		background: url(../image/bg_mainvisual_sp.gif) repeat-x;
		background-size: 3.2vw;
	}
	.mainvisual h1 {
		padding: 0;
	}
}

/* SECTION 01 */
.section01 {
	margin-bottom: 80px;
	text-align: center;
}
@media screen and (max-width: 768px) {
	.section01 {
		margin-bottom: 40px;
	}
}
.note {
	padding: 80px 0;
}
@media screen and (max-width: 768px) {
	.note {
		padding: 40px 0;
	}
}
.note h2 {
	margin-bottom: 42px;
	font-size: 32px;
	font-family: Noto Sans JP;
	font-weight: 700;
	color: #cca352;
	text-align: center;
	letter-spacing: 0.2em;
}
@media screen and (max-width: 768px) {
	.note h2 {
		margin-bottom: 21px;
		font-size: 20px;
		letter-spacing: 0.2em;
	}
}
@media screen and (max-width: 500px) {
	.note h2 {
		font-size: 18px;
	}
}
.dialog01 {
	border: 4px solid #cca352;
	border-radius: 16px;
	background: #cca352;
}
@media screen and (max-width: 768px) {
	.dialog01 {
		border-radius: 8px;
	}
}
.ttl01 {
	padding: 13px 0 20px;
	background: #cca352;
	font-size: 40px;
	font-family: Noto Sans JP;
	font-weight: 700;
	color: #fff;
	text-align: center;
	letter-spacing: 0.05em;
	line-height: 1.2;
}
@media screen and (max-width: 768px) {
	.ttl01 {
		padding: 6px 0 10px;
		font-size: 20px;
	}
}
.ttl01_small {
	font-size: 70%;
	margin: 0 -0.3em;
}
.dialog01 img {
	margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
	.dialog01 img {
		margin-bottom: 10px;
	}
}
.txt05 {
	font-size: 40px;
	font-family: Noto Sans JP;
	font-weight: 700;
	color: #333;
	text-align: center;
	line-height: 1.2;
	letter-spacing: 0.1em;
}
@media screen and (max-width: 768px) {
	.txt05 {
		font-size: 20px;
		letter-spacing: 0.1em;
	}
}
@media screen and (max-width: 357px) {
	.txt05 {
		font-size: 17px;
	}
}
.content01 {
	padding: 34px 32px 31px;
	background: #fff;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
@media screen and (max-width: 768px) {
	.content01 {
		padding: 17px 16px 15px;
		background: #fff;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}
/* SECTION02 */
.section02 {
	padding: 0 0 80px;
	text-align: center;
}
@media screen and (max-width: 768px) {
	.section02 {
		padding: 0 0 40px;
	}
}
.section02 h2 {
	margin-bottom: 25px;
}
.golf {
	padding: 39px 0 30px;
	background: #2c893a;
	border-radius: 8px;
	-webkit-box-shadow: 0 8px 40px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 8px 40px rgba(0,0,0,0.2);
    box-shadow: 0 8px 40px rgba(0,0,0,0.2);
}
@media screen and (max-width: 768px) {
	.golf {
		padding: 19px 0 15px;
		border-radius: 4px;
		-webkit-box-shadow: 0 4px 20px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 4px 20px rgba(0,0,0,0.2);
		box-shadow: 0 4px 20px rgba(0,0,0,0.2);
	}
}
.golf a {
	display: block;
	text-decoration: none;
}
.golf .img02 {
	margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
	.golf .img02 {
		margin-bottom: 15px;
	}
	.golf .img02 img {
		width: 140px;
	}
}
.link01 {
	display: block;
	width: 235px;
	margin: 0 auto;
	font-size: 16px;
	font-family: Noto Sans JP;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.1em;
}
.link01 span {
	display: block;
	background: url('../image/icon_arrowRight_white01.png') no-repeat center right;
	background-size: 10px;

}
@media screen and (max-width: 500px) {
	.link01 {
		width: 180px;
		font-size: 12px;
		letter-spacing: 0.1em;
	}
}
.txt04 {
	padding: 68px 0;
	font-size: 80px;
	font-family: Noto Sans JP;
	font-weight: 700;
	color: #e51728;
	line-height: 1.2;
    letter-spacing: 10px;
}
@media screen and (max-width: 768px) {
	.txt04 {
		padding: 34px 0;
		font-size: 28px;
		letter-spacing: 0.2em;
	}
}
@media screen and (max-width: 350px) {
	.txt04 {
		font-size: 26px;
	}
}

/* SECTION 03 */
.section03 {
	padding: 80px 0;
	background: #cc1424;
	overflow: hidden;
}
@media screen and (max-width: 768px) {
	.section03 {
		padding: 40px 0;
	}
}
.section03 h2 {
	margin-bottom: 18px;
	font-size: 32px;
	font-family: Noto Sans JP;
	font-weight: 700;
	color: #cca352;
	text-align: center;
	letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
	.section03 h2 {
		margin-bottom: 9px;
		font-size: 22px;
	}
}
@media screen and (max-width: 500px) {
	.section03 h2 {
		font-size: 18px;
	}
}
.subText01 {
	margin-bottom: 23px;
	font-size: 64px;
	font-family: Noto Sans JP;
	font-weight: 700;
	color: #fff;
	text-align: center;
	letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
	.subText01 {
		margin-bottom: 19px;
		font-size: 40px;
	}
}
@media screen and (max-width: 500px) {
	.subText01 {
		margin-bottom: 19px;
		font-size: 28px;
	}
}
.section03 ul {
	margin: 0 -12px;
}
@media screen and (max-width: 768px) {
	.section03 ul {
		margin: 0 -6px;
	}
}
.section03 ul li {
	width: 33%;
	float: left;
	box-sizing: border-box;
}
@media screen and (max-width: 768px) {
	.section03 ul li {
		width: 100%;
	}
}
.section03 ul li .points {
	display: block;
	padding: 12px;
	text-decoration: none;
}
@media screen and (max-width: 768px) {
	.section03 ul li .points {
		padding: 6px;
	}
}
.content02 {
	padding: 24px 0 40px;
	background: #fff;
	border-radius: 8px;
	-webkit-box-shadow: 0 8px 40px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 8px 40px rgba(0,0,0,0.2);
    box-shadow: 0 8px 40px rgba(0,0,0,0.2);
}
@media screen and (max-width: 768px) {
	.content02 {
		padding: 12px 0 20px;
		background: #fff;
		border-radius: 4px;
		-webkit-box-shadow: 0 4px 20px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 4px 20px rgba(0,0,0,0.2);
		box-shadow: 0 4px 20px rgba(0,0,0,0.2);
	}
}
.txt06 {
	margin-bottom: 20px;
	font-size: 20px;
	font-family: Montserrat;
	font-weight: 800;
	color: #cca352;
	text-align: center;
}
@media screen and (max-width: 768px) {
	.txt06 {
		font-size: 12px;
		margin-bottom: 10px;
	}
}
.txt06 span {
	font-size: 56px;
}
@media screen and (max-width: 768px) {
	.txt06 span {
		font-size: 28px;
		letter-spacing: 0.1em
	}
}
.txt07 {
	font-size: 36px;
	font-family: Noto Sans JP;
	font-weight: 700;
	color: #e51728;
	text-align: center;
	line-height: 1.2;
	letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
	.txt07 {
		font-size: 20px;
	}
}
@media screen and (max-width: 350px) {
	.txt07 {
		font-size: 18px;
	}
}

/* PICKUP SECTION */
.pickup {
	padding: 80px 0 60px;
	background: #f2f2f2;
	text-align: center;
}
@media screen and (max-width: 768px) {
	.pickup {
		padding: 40px 0 30px;
	}
}
.pickup h2 {
	margin-bottom: 20px;
	color: #e51728;
	font-family: Montserrat;
	font-weight: 900;
	font-size: 28px;
	letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
	.pickup h2 {
		margin-bottom: 10px;
		font-size: 16px;
		letter-spacing: 0.1em;
	}
}
.pickup h3 {
	margin-bottom: 50px;
	font-family: Noto Sans JP;
	font-weight: 700;
	font-size: 48px;
	line-height: 1.4;
	letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
	.pickup h3 {
		margin-bottom: 25px;
		font-size: 28px;
	}
}
@media screen and (max-width: 350px) {
	.pickup h3 {
		font-size: 26px;
	}
}
.pickup ul {
	margin: 0 -20px;
}
@media screen and (max-width: 768px) {
	.pickup ul {
		margin: 0 -10px;
	}	
}
.pickup ul li a {
	display: block;
	padding: 20px;
}
.pickupItem {
	border-radius: 16px;
	-webkit-box-shadow: 0 8px 40px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 8px 40px rgba(0,0,0,0.2);
	box-shadow: 0 8px 40px rgba(0,0,0,0.2);
}
.pickupItem img {
	vertical-align: bottom;
}
@media screen and (max-width: 768px) {
	.pickup ul li a {
		padding: 10px;
	}
	.pickupItem {
		border-radius: 8px;
		-webkit-box-shadow: 0 4px 20px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 4px 20px rgba(0,0,0,0.2);
		box-shadow: 0 4px 20px rgba(0,0,0,0.2);
	}
}
/* BRAND SECTION */
.brand {
	padding: 80px 0 68px;
    background: #b4121f;
}
@media screen and (max-width: 768px) {
	.brand {
		padding: 40px 0 34px;
	}
}
.brand h2 {
	margin-bottom: 28px;
	font-family: Noto Sans JP;
	font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: #fff;
	letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
	.brand h2 {
		margin-bottom: 14px;
		font-size: 20px;
	}
}
.brand ul {
	margin: 0 -12px;
}
@media screen and (max-width: 768px) {
	.brand ul {
		margin: 0 -6px;
	}
}
.brand ul li {
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.brand ul li a {
	display: block;
	padding: 12px;
	text-decoration: none;
}
@media screen and (max-width: 768px) {
	.brand ul li a {
		padding: 6px;
	}
}
.content03 {
	padding: 0 19px;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
	-webkit-box-shadow: 0 8px 40px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 8px 40px rgba(0,0,0,0.2);
    box-shadow: 0 8px 40px rgba(0,0,0,0.2);
}
@media screen and (max-width: 768px) {
	.content03 {
		padding: 0 9px;
		border-radius: 4px;
		-webkit-box-shadow: 0 4px 20px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 4px 20px rgba(0,0,0,0.2);
		box-shadow: 0 4px 20px rgba(0,0,0,0.2);
	}
}
.imageContainer {
	width: 40%;
	float: left;
}
.imageContainer img {
	width: 130px;
	margin: 0 auto;
}
.textContainer {
	display: table-cell;
	width: 60%;
	float: right;
	padding-top: 40px;
	text-align: center;
}
@media screen and (max-width: 500px) {
	.textContainer {
		padding-top: 15px;
	}
}
.textContainer p {
	margin-bottom: 15px;
	font-size: 20px;
	font-family: Noto Sans JP;
	font-weight: 700;
	color: #333;
}
@media screen and (max-width: 768px) {
	.textContainer p {
		font-size: 16px;
	}
}
@media screen and (max-width: 500px) {
	.textContainer p {
		margin-bottom: 7px;
		font-size: 10px;
	}
	.textContainer img {
		width: 16px;
	}
}
@media screen and (max-width: 350px) {
	.textContainer p {
		margin-bottom: 0;
		font-size: 8px;
	}
	.textContainer img {
		width: 14px;
	}
}

/* BRAND 01 */
.brand01 {
	padding: 120px 0 96px;
	background: #cc1424;
}
@media screen and (max-width: 768px) {
	.brand01 {
		padding: 60px 0 48px;
	}
}
.brand01 h2 {
	text-align: center;
}
.brand01 h2 img {
	width: 208px;
}
@media screen and (max-width: 500px) {
	.brand01 h2 img {
		width: 160px;
	}
}
.subText02 {
	margin-bottom: 80px;
	padding-top: 37px;
	font-size: 28px;
	font-family: Noto Sans JP;
	font-weight: 700;
	color: #fff;
	text-align: center;
	letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
	.subText02 {
		margin-bottom: 40px;
		padding-top: 18px;
	}
}
@media screen and (max-width: 500px) {
	.subText02 {
		font-size: 20px;
	}
}
/* BRAND 02 */
.brand02 {
	padding: 0 0 96px;
	background: #cc1424;
}
@media screen and (max-width: 768px) {
	.brand02 {
		padding: 0 0 48px;
	}
}
.brand02 h2 {
	text-align: center;
}
.brand02 h2 img {
	width: 275px;
	padding-left: 40px;
}
@media screen and (max-width: 768px) {
	.brand02 h2 img {
		width: 210px;
		padding-left: 20px;
	}
}
@media screen and (max-width: 350px) {
	.brand02 h2 img {
		width: 190px;
		padding-left: 20px;
	}
}
.brand02 .subText02 {
	margin: 0 0 80px;
}
@media screen and (max-width: 768px) {
	.brand02 .subText02 {
		margin: 0 0 40px;
	}
}
/* BRAND 03 */
.brand03 {
	padding: 0 0 96px;
	background: #cc1424;
}
@media screen and (max-width: 768px) {
	.brand03 {
		padding: 0 0 48px;
	}
}
.brand03 h2 {
	width: 250px;
    margin: 0 auto;
    text-align: center;
}
.brand03 h2 img {
	width: 250px;
}
@media screen and (max-width: 768px) {
	.brand03 h2, .brand03 h2 img {
		width: 200px;
	}
}
.brand03 .subText02 {
	margin: 0 0 80px;
}
@media screen and (max-width: 768px) {
	.brand03 .subText02 {
		margin: 0 0 40px;
	}
}
/* BRAND 04 */
.brand04 {
	padding: 0 0 96px;
	background: #cc1424;
}
@media screen and (max-width: 768px) {
	.brand04 {
		padding: 0 0 48px;
	}
}
.brand04 h2 {
	width: 250px;
	margin: 0 auto;
	text-align: center;
}
.brand04 h2 img {
	width: 250px;
}
@media screen and (max-width: 768px) {
	.brand04 h2, .brand04 h2 img {
		width: 200px;
	}
}
@media screen and (max-width: 768px) {
	.brand04 h2, .brand04 h2 img {
		width: 180px;
	}
}
.brand04 .subText02 {
	margin: 0 0 80px;
}
@media screen and (max-width: 768px) {
	.brand04 .subText02 {
		margin: 0 0 40px;
	}
}
/* BRAND 05 */
.brand05 {
	padding: 0 0 156px;
	background: #cc1424;
}
@media screen and (max-width: 768px) {
	.brand05 {
		padding: 0 0 78px;
	}
}
.brand05 h2 {
	width: 250px;
    margin: 0 auto;
    text-align: center;
}
.brand05 h2 img {
	width: 250px;
}
@media screen and (max-width: 768px) {
	.brand05 h2, .brand05 h2 img {
		width: 200px;
	}
}
.brand05 .subText02 {
	margin: 0 0 80px;
}
@media screen and (max-width: 768px) {
	.brand05 .subText02 {
		margin: 0 0 40px;
	}
}
/* ITEM LIST */
.itemList {
	margin-bottom: 100px;
}
.itemList.last {
	margin-bottom: auto;
}
.itemList li {
	display: inline;
	float: left;
	margin: 0 0 24px;
	width: 50%;
	box-sizing: border-box;
}
.itemList .item {
	border-radius: 14px;
	overflow: hidden;
	box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}
.itemList li a {
	position: relative;
	display: block;
	background: #fff;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	text-decoration: none;
}
.coming_soon {
	position: relative;
	display: block;
	background: #fff;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	text-decoration: none;
}
.itemList li .coming_soon img {
	width: 100%;
}
.itemList li:nth-child(odd) {
	padding-right: 12px;
}
.itemList li:nth-child(even) {
	padding-left: 12px;
}
.itemList li a .itemIcon {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 26.778%;
}
.itemList li a img {
	width: 100%;
}
.itemDetails {
	background: #fff;
}
.itemSet {
	padding: 10px 40px 0;
	font-size: 27px;
	font-family: Noto Sans JP;
	font-weight: 700;
	color: #333;
}
.itemPrice {
	padding: 4px 40px 12px;
	font-family: Montserrat;
	font-weight: 900;
	font-size: 90px;
	color: #e51728;
}
.itemPrice .yen {
	font-size: 42px;
}
.itemPrice .tax-included {
	font-size: 18px;
	color: #333;
	font-family: Noto Sans JP;
	font-weight: 700;
}
.itemView {
	padding: 25px;
	background: #cca352;
	font-family: Noto Sans JP;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	color: #fff;
}
.itemView span {
	display: block;
	background: url('../image/icon_arrowRight_white01.png') no-repeat center right;
	letter-spacing: 4px;
}
.itemFavorites {
	display: block;
	padding: 25px;
	background: #333;
	font-family: Noto Sans JP;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	letter-spacing: 2px;
	color: #fff;
}
.itemFavorites span {
	padding-left: 36px;
	background: url('../image/icon_heart_white01.png') no-repeat center left;
}
.itemFavorites {
	background: #333 !important;
	border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* SECTION BUTTON */
.sec_btn01 {
	display: block;
	margin: -52px auto 0;
	max-width: 600px;
	width: 100%;
	padding: 40px;
	background: #cca352;
	border-radius: 7px;
	font-family: Noto Sans JP;
	font-weight: 700;
	font-size: 24px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 4px;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}
.sec_btn01 span {
	display: block;
	background: url('../image/icon_arrowRight_white01.png') no-repeat center right;
	letter-spacing: 4px;
}

/* SECTION 08 */
.section08 {
	padding-top: 100px;
	padding-bottom: 110px;
	font-family: Noto Sans JP;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 1.6;
}
.section08 h2 {
	margin: 40px 0 25px;
	padding: 20px;
	background: #cc1424;
	border-radius: 6px;
	font-family: Noto Sans JP;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	line-height: 1;
}
.section08_block03 img {
	margin: 20px 0 10px;
	max-width: 100%;
	width: 100%;
}
.sec08_txtBlock01 {
	margin: 0 0 40px;
	text-align: center;
}
.sec08_para01 {
	font-family: Noto Sans JP;
	font-weight: 700;
	font-size: 40px;
	letter-spacing: 4px;
	color: #e51728;
}
.sec08_para02 {
	font-family: Noto Sans JP;
	font-weight: 700;
	font-size: 24px;
	color: #e51728;
}
.sec08_para03 {
	margin: 40px 0;
	font-family: Noto Sans JP;
	font-size: 20px;
}
.sec08_para04 {
	font-family: Noto Sans JP;
	font-weight: 700;
	font-size: 32px;
	letter-spacing: 4px;
	color: #e51728;
}
.sec08_para05 {
	margin: 40px 0 0;
	padding-bottom: 35px;
	font-family: Noto Sans JP;
	font-weight: 700;
	font-size: 16px;
	color: #e51728;
	text-align-last: left;
}
.sec8_btn01 {
	display: block;
	margin: 80px auto 0;
	max-width: 600px;
	width: 100%;
	padding: 40px;
	background: #cca352;
	border-radius: 7px;
	font-family: Noto Sans JP;
	font-weight: 700;
	font-size: 24px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 4px;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}
.sec8_btn01 span {
	display: block;
	background: url('../image/icon_arrowUp_white01.png') no-repeat center right;
	background-size: 26px;
	letter-spacing: 4px;
}

/* SECTION 09 */
.section09 {
	padding-bottom: 110px;
	font-family: Noto Sans JP;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 1.6;
}
.sec09_para01 {
	margin: 0 0 40px;
	text-align: center;
	font-family: Noto Sans JP;
	font-size: 20px;
}
.sec09_btn01 {
	margin: 0 40px 70px;
}
.sec09_btn01 li {
	padding: 0 0 16px;
	max-width: 696px;
	width: 100%;
	margin: 0 auto;
}
.sec09_btn01 li a {
	display: block;
	padding: 24px 35px;
	text-align: center;
	font-size: 125%;
	border-radius: 100px;
	text-decoration: none;
}
.sec09_btn01 li:first-child a {
	color: #c00000;
	border: 2px solid #c00000;
	letter-spacing: 2px;
}
.sec09_btn01 li:last-child a {
	color: #4c4c4c;
	border: 2px solid #4c4c4c;
}
.sec09_btn01 li a span {
	display: block;
}
.sec09_btn01 li:first-child a span {
	background: url('../images/icon_arrowRight2.png') no-repeat right center;
}
.sec09_btn01 li:last-child a span {
	background: url('../images/icon_arrowRight3.png') no-repeat right center;
}

@media screen and (max-width:1020px) {
	.section02 .container {
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 96%;
	}
	.categorySection {
		padding: 30px 15px;
	}
}

@media screen and (min-width:769px) {
	a:hover {
		opacity: .8;
		transition: 0.5s;
	}
	a.sec_btn01:hover,
	a.sec_btn02:hover {
		opacity: 1;
		background: #d6b574;
	}
	.filter:hover{
		opacity: .8;
	}
}

@media screen and (max-width:980px) {
	.itemSet {
		font-size: 28px;
	}
	.itemPrice {
		font-size: 50px;
	}
	.itemPrice .tax-included {
		font-size: 18px;
	}
}

@media screen and (max-width:768px) {
	.mainvisual h1 img {
		box-shadow: 0 10px 20px rgba(0,0,0,0.1);
		border-radius: 9px;
	}
	.itemList .item {
		border-radius: 7px;
	}
	.itemSet {
		padding: 0 20px;
		font-size: 12px;
	}
	.itemPrice {
		padding: 4px 14px 8px;
		font-size: 28px;
	}
	.itemPrice .yen {
		font-size: 15px;
	}
	.itemPrice .tax-included {
		font-size: 7px;
	}
	.itemView {
		padding: 13px;
	}
	.itemView span {
		font-size: 12px;
		letter-spacing: 2px;
		background-size: 7px;
	}
	.itemFavorites {
		padding: 13px;
		font-size: 12px;
	}
	.itemFavorites span {
		padding-left: 18px;
		background-size: 14px;
	}
	
	.itemList {
		margin-bottom: 50px;
	}
	.itemList li {
		margin: 0 0 12px;
	}
	.itemList li:nth-child(odd) {
		padding-right: 6px;
	}
	.itemList li:nth-child(even) {
		padding-left: 6px;
	}
	
	.section07 {
		padding-bottom: 80px;
	}
	.sec_btn01 {
		margin: -26px auto 0;
		padding: 20px;
		max-width: 320px;
		font-size: 12px;
		box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	}
	.sec_btn01 span {
		letter-spacing: 2px;
		background-size: 8px;
	}
	
	.section08 {
		padding-top: 50px;
		padding-bottom: 55px;
		font-size: 10px;
		letter-spacing: 2px;
	}
	.sec08_para01 {
		font-size: 20px;
		letter-spacing: 2px;
	}
	.sec08_para02 {
		font-size: 12px;
	}
	.sec08_para03 {
		margin: 20px 0;
		font-size: 12px;
	}
	.sec08_para04 {
		font-size: 16px;
		letter-spacing: 2px;
	}
	.sec08_para05 {
		padding-bottom: 18px;
		font-size: 10px;
	}
	.sec08_txtBlock01 {
		margin: 0 0 20px;
	}
	.section08 h2 {
		margin: 20px 0 10px;
		padding: 10px;
		border-radius: 4px;
		font-size: 12px;
	}
	.section08_block03 h2 {
		line-height: 1.5;
	}
	.sec8_btn01 {
		margin: 40px auto 0;
		padding: 20px;
		max-width: 320px;
		font-size: 12px;
		box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	}
	.sec8_btn01 span {
		letter-spacing: 2px;
		background-size: 13px;
	}
	
	.section09 {
		padding-bottom: 55px;
		font-size: 10px;
		letter-spacing: 2px;
	}
	.sec09_para01 {
		margin: 0 0 20px;
		font-size: 12px;
	}
	.sec09_btn01 {
		margin: 0 20px 20px;
	}
	.sec09_btn01 li {
		padding: 0 0 12px;
	}
	.sec09_btn01 li a {
		padding: 15px;
		font-size: 120%;
	}
	.sec09_btn01 li:first-child a {
		border: 1px solid #c00000;
		letter-spacing: 1px;
	}
	.sec09_btn01 li:last-child a {
		border: 1px solid #4c4c4c;
	}
	.sec09_btn01 li a span {
		background-size: 8px !important;
	}
	
	#back_to_top a {
		background-size: 17px;
		border-radius: 4px;
	}
}

@media screen and (max-width:374px) {
	/* .mainvisual {
		background-size: 13px;
	} */
	.itemPrice {
		font-size: 20px;
	}
	.sec_btn01,
	.sec_btn02 {
		max-width: 290px;
	}
	.sec09_btn01 {
		margin: 0 0 20px;
	}
}




/* TCAP 12/05/19 */

/* SECTION11 */
.section11 {
	padding: 60px 0;
	background: #cc1424;
}

/* SECTION 10 */
.section10 {
	padding: 0 0 40px;
}
.section10 h2 {
	text-align: center;
	font-family: Noto Sans JP;
	font-weight: 700;
	font-size: 48px;
	text-align: center;
	line-height: 1.4;
	letter-spacing: 8px;
}
.section10 h2 span {
	color: #e51728;
	font-family: Montserrat;
	font-weight: 900;
	font-size: 28px;
}
.mb-zero {
	margin-bottom: 0;
}

.section01 .js-count br {
	display: none;
}


@media screen and (max-width: 768px) {
	.section10 h2 {
		margin: 0;
		font-size: 24px;
		letter-spacing: 4px;
	}
	.section10 h2 span {
		font-size: 14px;
	}
	.mb-zero {
		margin-bottom: 0;
	}
	.section11 {
		padding: 40px 0 20px;
	}
	.section10 {
		padding: 0 0 40px;
	}
}

@media screen and (max-width: 375px) {
	.section01 .js-count br {
		display: block;
	}
}